@import "../../styles.scss";

.tech {
  display: flex;
  flex-direction: column;
  margin: 40px 80px;
  padding: 0 140px;
  gap: 30px;
  scroll-behavior: smooth;

  // Responsive layout
  @include respond-to(xl) { margin: 35px 60px; padding: 0 100px; gap: 25px; }
  @include respond-to(lg) { margin: 30px 40px; padding: 0 60px; gap: 20px; }
  @include respond-to(md) { margin: 25px 30px; padding: 0 30px; gap: 15px; }
  @include respond-to(sm) { margin: 20px; padding: 0 40px; gap: 10px; }
  @include respond-to(xs) { margin: 15px 0; padding: 0 40px; gap: 8px; }
  @include respond-to(xxs) { gap: 5px; }

  &__header__div__main {
    font-size: 43px;
    color: rgb(98, 78, 54);

    @include respond-to(lg) { font-size: 36px; }
    @include respond-to(md) { font-size: 30px; }
    @include respond-to(sm) { font-size: 24px; }
    @include respond-to(xs) { font-size: 20px; }
    @include respond-to(xxs) { font-size: 16px; }
  }

  &__arr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 58px;

    @include respond-to(lg) { gap: 40px; }
    @include respond-to(md) { gap: 30px; }
    @include respond-to(sm) { gap: 40px; }
    @include respond-to(xs) { gap: 25px; }
    // @include respond-to(xxs) { gap: 8px; } // Uncomment if needed

    &__indivCon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      border: 1px solid #995338;

      @include respond-to(lg) { padding: 5px 8px; }
      @include respond-to(md) { padding: 4px 6px; }
      @include respond-to(sm) { padding: 3px 4px; }
      @include respond-to(xs) { padding: 2px 2px; }
      @include respond-to(xxs) { padding: 1px 1px; }
    }

    &__indivCon:hover {
      box-shadow: 0 0 15px 4px #6f444f;
      transform: scale(1.03);
      transition: transform 0.35s, box-shadow 0.35s;
    }
  }
}