<div class="about" id="about">
  <div class="about__sub">
    <p class="about__sub__para">
      Hello, my name is John Henrick but you can call me Henrick, I'am a
      software engineer that has exprience with multiple projects. I have
      exprience in both Front-end and Back-end web development.
    </p>
    <section class="about__sub__scroll-view">
      <table>
        <tr>
          <th>Tech</th>
          <th>Years of Experience</th>
        </tr>
        <tbody>
          <tr *ngFor="let tech of techArray">
            <td>
              <img
                [src]="tech.url"
                [alt]="tech.alt"
                [width]="tech.width"
                [height]="tech.height"
              />
            </td>
            <td>{{ tech.yoe }}</td>
          </tr>
          <!-- <tr>
            <td>
              <img
                src="../../assets/icons/programing.png"
                alt="angular.png"
                width="100"
                height="100"
              />
            </td>
            <td>4yrs</td>
          </tr> -->
        </tbody>
      </table>
    </section>
  </div>
</div>
