<div class="about">
  <div class="about__sub">
    <h1 class="about__sub__aboutme">About me</h1>
    <p class="about__sub__para">
      Hello again, my name is John Henrick but people can call me Henrick, I'm a software engineer that has exprience with
      multiple technologies. I have expriences in Front-end development, Back-end development and Dev Ops.
      I have a bachelor's degree in Electronics Engineering and is Certified in both AWS and Azure. 
      I have a passion for learning and self improvement. I am multi awarded in my current company and is a top performer.
      Back in the days, I was a Student-Athlete and a Scholar all throughout my college and high school years. I am a team player and a leader.
    </p>
  </div>
</div>