@import "../../styles.scss";

.experience {
  font-family: Arial, sans-serif;
  margin: 40px 80px;
  padding: 0px 140px;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 30px;

  // XL screens
  @include respond-to(xl) {
    margin: 35px 60px;
    padding: 0px 100px;
    gap: 25px;
  }

  // LG screens
  @include respond-to(lg) {
    margin: 30px 40px;
    padding: 0px 60px;
    gap: 20px;
  }

  // MD screens
  @include respond-to(md) {
    margin: 25px 30px;
    padding: 0px 30px;
    gap: 15px;
  }

  // SM screens
  @include respond-to(sm) {
    margin: 50px 20px;
    padding: 0px 40px;
    gap: 10px;
  }

  // XS screens
  @include respond-to(xs) {
    margin: 40px 0px;
    padding: 0px 40px;
    gap: 8px;
  }

  // XXS screens
  // @include respond-to(xxs) {
  //   margin: 10px 2px;
  //   padding: 0px 2px;
  //   gap: 5px;
  // }

  &__timeline {
    display: flex;
    flex-direction: column;
  }

  &__main {
    display: flex;
    align-items: stretch;
    gap: 10px;

    @include respond-to(sm) {
      gap: 15px;
    }
  }

  .dot__contiainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: inherit;

    .__circle {
      width: 12px;
      height: 12px;
      background-color: #bbb;
      border-radius: 50%;
      margin-top: 3px;
      flex-shrink: 0;

      @include respond-to(md) {
        width: 10px;
        height: 10px;
      }
      @include respond-to(sm) {
        width: 8px;
        height: 8px;
      }
      @include respond-to(xs) {
        width: 6px;
        height: 6px;
      }
      @include respond-to(xxs) {
        width: 5px;
        height: 5px;
      }
    }

    .__root {
      width: 2px;
      background-color: #ccc;
      flex-grow: 1;
      height: 100%;

      @include respond-to(sm) {
        width: 1.5px;
      }
      @include respond-to(xs) {
        width: 2px;
      }
      @include respond-to(xxs) {
        width: 2px;
      }
    }
  }

  &__extension {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 40px;

    .dot__extension {
      position: absolute;
      height: 5px;
      width: 2px;
      background-color: #ccc;

      @include respond-to(sm) {
        width: 1.5px;
        margin-left: -2px;
      }
      @include respond-to(xs) {
        width: 2px;
        margin-left: -3px;
      }
      @include respond-to(xxs) {
        width: 2px;
        margin-left: -3.5px;
      }
    }
  }

  &__content {
    flex: 1;
    @include respond-to(sm) {
      padding-left: 0;
    }
  }

  &__duration {
    font-weight: bold;
    margin-bottom: 4px;
    font-style: italic;
    font-size: 1.1rem;

    @include respond-to(lg) {
      font-size: 1rem;
    }
    @include respond-to(md) {
      font-size: 0.95rem;
    }
    @include respond-to(sm) {
      font-size: 0.9rem;
    }
    @include respond-to(xs) {
      font-size: 0.85rem;
    }
    @include respond-to(xxs) {
      font-size: 0.8rem;
    }
  }

  ul {
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 0px;

    @include respond-to(sm) {
      padding-left: 15px;
    }
    @include respond-to(xs) {
      padding-left: 10px;
    }
    @include respond-to(xxs) {
      padding-left: 5px;
    }
  }

  li {
    margin-bottom: 6px;
    font-size: 1rem;

    @include respond-to(lg) {
      font-size: 0.95rem;
    }
    @include respond-to(md) {
      font-size: 0.9rem;
    }
    @include respond-to(sm) {
      font-size: 0.85rem;
    }
    @include respond-to(xs) {
      font-size: 0.8rem;
    }
    @include respond-to(xxs) {
      font-size: 0.75rem;
    }
  }

  h2 {
    font-size: 43px;
    color: rgb(98, 78, 54);

    @include respond-to(lg) {
      font-size: 36px;
    }
    @include respond-to(md) {
      font-size: 30px;
    }
    @include respond-to(sm) {
      font-size: 24px;
    }
    @include respond-to(xs) {
      font-size: 20px;
    }
    @include respond-to(xxs) {
      font-size: 16px;
    }
  }
}
