<div class="ca">
    <div class="certificates">
        <h2>Certificates</h2>
        <div class="certificates__main">
            <div class="img__cards">
                <img src="../../assets/images/AWS_CP.png" alt="AWS Certified Cloud Practitioner" />
                <h3>AWS Certified</h3>
                <h4>Cloud Practitioner</h4>
            </div>
            <div class=" img__cards">
                <img src="../../assets/images/AZ-900.png" alt="AZ-900" />
                <h3>Microsoft Certified</h3>
                <h4>Azure Fundamentals</h4>
            </div>
        </div>
    </div>

    <!-- <div>
        <h2>Awards</h2>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div><img src="" alt=""></div>
        </div>
    </div> -->
</div>