.certificates {
  display: flex;
  flex-direction: column;
  padding: 0px 140px;
  margin: 40px 80px;
  gap: 30px;

  h2 {
    font-size: 43px;
    color: rgb(98, 78, 54);
  }

  &__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

    .img__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 100%;

      img {
        max-width: 100%;
        max-height: 100%;
        width: 500px;
        height: 350px;
        border-radius: 8px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        object-fit: fill;
      }

      img:hover {
        transform: scale(1.03);
        transition: transform 0.3s ease-in-out;
      }

      h3,
      h4 {
        margin: 0px;
      }
    }
  }
}
