@import "../../styles.scss";

.certificates,
.awards {
  display: flex;
  flex-direction: column;
  padding: 0px 140px;
  margin: 40px 80px;
  gap: 30px;

  h2 {
    font-size: 43px;
    color: rgb(98, 78, 54);

    @include respond-to(lg) {
      font-size: 36px;
    }
    @include respond-to(md) {
      font-size: 30px;
    }
    @include respond-to(sm) {
      font-size: 24px;
    }
    @include respond-to(xs) {
      font-size: 20px;
    }
    @include respond-to(xxs) {
      font-size: 16px;
    }
  }

  @include respond-to(xl) {
    padding: 0px 100px;
    margin: 35px 60px;
    gap: 25px;
  }
  @include respond-to(lg) {
    padding: 0px 60px;
    margin: 30px 40px;
    gap: 20px;
  }
  @include respond-to(md) {
    padding: 0px 30px;
    margin: 25px 30px;
    gap: 15px;
  }
  @include respond-to(sm) {
    margin: 50px 20px;
    padding: 0px 40px;
    gap: 10px;
  }
  @include respond-to(xs) {
    margin: 40px 0px;
    padding: 0px 40px;
    gap: 8px;
  }

  &__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap: 40px;

    @include respond-to(md) {
      gap: 15px;
    }
    @include respond-to(sm) {
      flex-direction: column;
      gap: 20px;
    }
    @include respond-to(xs) {
      gap: 18px;
    }
    @include respond-to(xxs) {
      gap: 15px;
    }

    .img__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 100%;

      @include respond-to(lg) {
        width: 400px;
      }
      @include respond-to(md) {
        width: auto;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        width: 500px;
        height: 350px;
        border-radius: 8px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        object-fit: fill;

        @include respond-to(lg) {
          width: 400px;
          height: 280px;
        }
        @include respond-to(md) {
          width: 420px;
          height: 300px;
        }
        @include respond-to(sm) {
          width: 420px;
          height: 300px;
        }
        @include respond-to(xs) {
          width: 250px;
          height: 160px;
        }
      }

      img:hover {
        transform: scale(1.03);
        transition: transform 0.3s ease-in-out;
      }

      h3,
      h4 {
        margin: 0px;
        font-size: 1.2rem;
        text-align: center;

        @include respond-to(lg) {
          font-size: 1.1rem;
        }
        @include respond-to(md) {
          font-size: 1rem;
        }
        @include respond-to(sm) {
          font-size: 0.95rem;
        }
        @include respond-to(xs) {
          font-size: 0.9rem;
        }
        @include respond-to(xxs) {
          font-size: 0.85rem;
        }
      }
    }
  }

  .awards__main--awards {
    flex-wrap: wrap;
  }
}
