<div class="ca">
    <div class="certificates" id="certified">
        <h2>Certificates</h2>
        <div class="certificates__main">
            <div class="img__cards">
                <img src="../../assets/images/AWS_CP.png" alt="AWS Certified Cloud Practitioner" />
                <h3>AWS Certified - Cloud Practitioner</h3>
            </div>
            <div class=" img__cards">
                <img src="../../assets/images/AZ-900.png" alt="AZ-900" />
                <h3>Microsoft Certified - Azure Fundamentals</h3>
            </div>
        </div>
    </div>

    <div class="awards" id='awards'>
        <h2>Awards</h2>
        <div class="awards__main awards__main--awards">
            <ng-container *ngFor="let award of awardsArray">
                <div class="img__cards">
                    <img [src]="award.imgSrource" [alt]=" award.title " />
                    <h3>{{ award.title }}</h3>
                </div>
            </ng-container>
        </div>
    </div>
</div>