<div class="main-container">
  <div class="container sub-con">
    <div class="row row-con">
      <div class="col text-con">
        <p class="hello">Hello there, my name is</p>
        <p class="john-henrick">John Henrick</p>
        <p class="swe">
          {{ "I'm a Software engineer with " + yoe + " years of experience" }}
        </p>
        <span>
          
        </span>
      </div>
      <img
        src="../../assets/images/hiking_trip1.JPG"
        alt="john henrick hiking photo"
        class="img-me"
      />
    </div>
  </div>
</div>
